<h1>New Query</h1>

<%= form_tag queries_path do %>
	<!-- %= render 'fields', :f => f % -->
	<%= field_set_tag nil, :id => :query do %>
		<!-- %= render 'shared/error_messages', :object => @query % -->
		<div id='query_name' class='field'>
			<%= label_tag :name %>
			<%= text_field_tag :name %>
			<br />
		</div>
		<div id='choose_selected_fields'>
			<%= label_tag :selected_fields %>
			<ul>
				<%= select_tag :selected_fields, 
				               options_for_select(@field_info.map{|k,v| [k.to_s.humanize, k] }), 
				               :multiple => true, :size => 12 %>
			</ul>
			<p class='note'>something cogent about the date mapping between yearlies and deathrates</p>
			<p class='note'>Region descriptions contain a lot of accented characters. Country description may contain some as well. The character encoding is UTF-8.</p>
		</div>
	<% end %>
	<%= field_set_tag nil, :id => :search do %>
		<div id='filter_region_code' class='field'>
			<p class='description'><%= @field_info[:region_code] %></p>
			<%= label_tag :region_code_starts_with %>
			<%= text_field_tag :region_code_starts_with %>
			<br />
		</div>
		<div id='filter_region_description' class='field'>
			<p class='description'><%= @field_info[:region_description] %></p>
			<%= label_tag :region_description_contains %>
			<%= text_field_tag :region_description_contains %>
			<br />
		</div>
		<div id='filter_country_code'>
			<p class='description'><%= @field_info[:country_code] %></p>
			<%= label_tag :country_code_in %>
			<%= select_tag :country_code_in, options_for_select(Country.all.map{|row| [row.code, row.code] }), :multiple => true  %>
			<br />
		</div>
		<div id='filter_country_description' class='field'>
			<p class='description'><%= @field_info[:country_description] %></p>
			<%= label_tag :country_description_contains %>
			<%= text_field_tag :country_description_contains %>
			<br />
		</div>
		<div id='filter_year' class='field'>
			<p class='description'><%= @field_info[:year] %></p>
			<%= label_tag :year_gte %> <%= text_field_tag :year_gte %>
			<br />
			<%= label_tag :year_lte %> <%= text_field_tag :year_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_total_population' class='field'>
			<p class='description'><%= @field_info[:total_population] %></p>
			<%= label_tag :total_population_gte %> <%= text_field_tag :total_population_gte %>
			<br />
			<%= label_tag :total_population_lte %> <%= text_field_tag :total_population_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_population_density' class='field'>
			<p class='description'><%= @field_info[:population_density] %></p>
			<%= label_tag :population_density_gte %> <%= text_field_tag :population_density_gte %>
			<br />
			<%= label_tag :population_density_lte %> <%= text_field_tag :population_density_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_primary_income' class='field'>
			<p class='description'><%= @field_info[:primary_income] %></p>
			<%= label_tag :primary_income_gte %> <%= text_field_tag :primary_income_gte %>
			<br />
			<%= label_tag :primary_income_lte %> <%= text_field_tag :primary_income_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_start_year_death_rate' class='field'>
			<p class='description'><%= @field_info[:start_year_death_rate] %></p>
			<%= label_tag :start_year_death_rate_gte %> <%= text_field_tag :start_year_death_rate_gte %>
			<br />
			<%= label_tag :start_year_death_rate_lte %> <%= text_field_tag :start_year_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_end_year_death_rate' class='field'>
			<p class='description'><%= @field_info[:end_year_death_rate] %></p>
			<%= label_tag :end_year_death_rate_gte %> <%= text_field_tag :end_year_death_rate_gte %>
			<br />
			<%= label_tag :end_year_death_rate_lte %> <%= text_field_tag :end_year_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_all_causes_death_rate' class='field'>
			<p class='description'><%= @field_info[:all_causes_death_rate] %></p>
			<%= label_tag :all_causes_death_rate_gte %> <%= text_field_tag :all_causes_death_rate_gte %>
			<br />
			<%= label_tag :all_causes_death_rate_lte %> <%= text_field_tag :all_causes_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_cancer_death_rate' class='field'>
			<p class='description'><%= @field_info[:cancer_death_rate] %></p>
			<%= label_tag :cancer_death_rate_gte %> <%= text_field_tag :cancer_death_rate_gte %>
			<br />
			<%= label_tag :cancer_death_rate_lte %> <%= text_field_tag :cancer_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_heart_disease_death_rate' class='field'>
			<p class='description'><%= @field_info[:heart_disease_death_rate] %></p>
			<%= label_tag :heart_disease_death_rate_gte %> <%= text_field_tag :heart_disease_death_rate_gte %>
			<br />
			<%= label_tag :heart_disease_death_rate_lte %> <%= text_field_tag :heart_disease_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_all_accidents_death_rate' class='field'>
			<p class='description'><%= @field_info[:all_accidents_death_rate] %></p>
			<%= label_tag :all_accidents_death_rate_gte %> <%= text_field_tag :all_accidents_death_rate_gte %>
			<br />
			<%= label_tag :all_accidents_death_rate_lte %> <%= text_field_tag :all_accidents_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
		<div id='filter_transport_accidents_death_rate' class='field'>
			<p class='description'><%= @field_info[:transport_accidents_death_rate] %></p>
			<%= label_tag :transport_accidents_death_rate_gte %> <%= text_field_tag :transport_accidents_death_rate_gte %>
			<br />
			<%= label_tag :transport_accidents_death_rate_lte %> <%= text_field_tag :transport_accidents_death_rate_lte %>
			<br />
			<span class='note'>min/max</span>
		</div>
	<% end %>

	<div class='actions'>
		<%= submit_tag "Create Query" %>
	</div>
<% end %>
<!-- %= @results % -->
