<h1><%= @title %></h1>

<%= content_tag :div, :id => :query_name, :class => 'boxme bigger' do %>
   <span class='label'>Query Name:</span>
   <span class='value'><%= @query.name %></span>
<% end %>

<%= content_tag :div, :id => :query_selected_fields, :class => 'boxme' do %>
   <span class='label bigger'>Selected Fields</span>
   <div class=''>
   <% @query.selected_fields.each do |field| %>
      <span class='value'><%= field.humanize.titlecase %></span><br />
   <% end %>
   </div>
<% end %>

<%= content_tag :div, :id => :filters, :class => 'boxme' do %>
   <span class='label bigger'>Filters</span>
   <% @filters.each do |key, value| %>
      <% unless value.blank? %>
         <%= content_tag :div, :id => key, :class => '' do %>
            <span class='label'>
               <%= key.humanize.titlecase.sub(/[GL]te/, {'Gte' => '>=', 'Lte' => '<='}) %>
            </span>
            <% if value.is_a?(Array) %>
               <span class='value'><%= value %></span>
               <!-- FIXME -->
            <% else %>
               <span class='value'><%= value %></span>
            <% end %>
         <% end %>
      <% end %>
   <% end %>
<% end %>

<%= form_tag query_path(@query), :method => :get, :class => 'boxme' do %>
   <span class='label'>Viewing Results:</span>
   <%= radio_button_tag 'results_mode', 'preview',   'preview'==params[:results_mode] %>
   <%= label_tag 'results_mode_preview', 'Preview' %>

   <%= radio_button_tag 'results_mode', 'full-html', 'full-html'==params[:results_mode] %>
   <%= label_tag 'results_mode_full-html', 'Full - In Browser' %>

   <%= radio_button_tag 'results_mode', 'full-csv',  'full-csv'==params[:results_mode] %>
   <%= label_tag 'results_mode_full-csv', 'Full - Download CSV' %>

   <%= submit_tag 'View Results' %>
<% end %>
<br />
<div class='boxme'>
   <span class='label'>Number of records found:</span>
   <span class='value'><%= number_with_delimiter @count %></span>
</div>
<div class='boxme'>
   <%= page_entries_info @results, :entry_name => 'record' %>
   <%= will_paginate(@results) if 'full-html'==params[:results_mode] %>
   <table summary="Results for query">
      <tr>
         <% @query.selected_fields.each do |col| %>
            <th><%= col.humanize.titlecase %></th>
         <% end %>
      </tr>
      <% @results.each do |row| %>
         <tr>
            <% @query.selected_fields.each do |col| %>
               <td><%= row.attributes[col] %></td>
            <% end %>
         </tr>
      <% end %>
   </table>
   <%= will_paginate(@results) if 'full-html'==params[:results_mode] %>
</div>
