<li><%= link_to "Home", root_path %></li>
<li><%= link_to "About the Data", about_data_path %></li>
<li><%= link_to "All Queries", queries_path %></li>
<li><%= link_to "New Query", new_query_path %></li>
<!-- <li><%= link_to "Help", help_path %></li> -->
<li><%= link_to "Contact", contact_path %></li>
